<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/DOM.css">
    <script defer src="../Static/DOM.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>DOM3</h1>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="DOM.html">DOM1</a></li>
                <li><a href="DOM2.html">DOM2</a></li>
                <li><a href="DOM3.html">DOM3</a></li>
            </ul>
        </nav>
        <div class="left"></div>
        <div class="right"></div>
        <div class="footer"></div>
    </div>    
</body>
</html>