doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Document
    body 
        h1 PUG INTRO 
        nav 
            ul 
                li 
                    a(href="/") home
                li 
                    a(href="/page2") page 2
                li 
                    a(href="/page3")  page 3
        block content 
        footer WEB BGU