<!DOCTYPE html>
<html>
<head>
    <script></script>
    <link rel="stylesheet" href="style.css">
    <title>this is a reminder for HTML intro</title>
    <style>
        tr {
            border: 2px solid black;
            background-color: green;
        }
    </style>        
</head>
<body>
    <h1>this is the title of the page</h1>
    <h3>hello world!</h3>
    <h6>hi there</h6>
    <p>this is some random text </p>
    <span>
        <ul>
            <li>number 1</li>
            <li><b>number 2</b></li>
            <li>number 3</li>
        </ul>    
    </span>
    <span>
        <ol class="important" style="color: green;">
            <li style="color:  red ">number 1</li>
            <li>number 2</li>
            <li>number 3</li>
        </ol>
    </span>
    <form action="url" method="get">
        <label for="UserName">Your name</label>
        <input type="text" name="UserName" id="UserName" class="important"><br>

        <label for="UserEmail">Your email</label>
        <input type="email" name="UserEmail" id="UserEmail" class="important"><br>

        <label for="UserColor">Choose your color</label>
        <input type="color" name="UserColor" id="UserColor"><br>

        <input type="checkbox" name="" id="">
        <label for="">I agrre ...</label><br>
        <a href="https://www.termsfeed.com/blog/sample-terms-and-conditions-template/" target="_blank">Read terms</a><br>

        <input type="submit" value="SUBMIT">
        <!--this is a comment in html-->
    </form>

    <img src="../static/MotherOfDragons.jpeg" alt="This is an image of Chalisi" width="50%">
    <div style="border: 1px solid blue"><h1>Hi class</h1></div>
    <div style="border: 2px solid black"><h1>Hi again</h1></div>
    <span style="border: 2px solid black; display: block;">this is soooooo interesting</span>
    <span style="border: 2px solid black">This is a second span</span>
    <table style="border: 2px solid black">
        <tr>
            <th>Name</th>
            <th>email</th>
        </tr>
        <tr>
            <td>Naama</td>
            <td>naamail@post.bgu.ac.il</td>
        </tr>
        <tr>
            <td>David</td>
            <td>david@gmail.com</td>
        </tr>
    </table>

</body>
</html>