extends layout 
block content  
    H3 Hi :)
    p  I&rsquo;m Naama,
        br        
    ul  
        li 
            | I am a user behavior researcher (check out my research page). 
        li 
            | I am an experienced research team leader (check out my teaching page).
        li  
            | I have some publications (check out my publication list).
        li 
            | I am an award winning soon-to-be Ph.D graduate (check out my prizes list).
