@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,700&display=swap');

* {
    font-family: 'Roboto Flex', sans-serif;
}

body {
    /*background-image: url("sketchPortraite4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 100%; 
    background-size: 70%;*/
    height: 100vh;
}

h1 a {
    font-family: 'Montserrat', sans-serif;
    margin-left: 1%;
    padding-left: 1%;
    border-left: 1px solid black;
}

h3, h2 {
    margin-left: 1%;    
}

.itemTitle {
    text-decoration: underline;
    font-style:italic;
}

.GridContainer {
    display: grid;
    grid-template-areas: 
    'header header portrait'
    'block block portrait'
    'footer footer portrait';
    min-height: 100vh;
}

.header {
    grid-area: header;
    width: 100%;
    position:fixed;
    top: 0%;
    background-color: white;
}

.block {
    margin-top: 10%;
    grid-area: block;
    max-width: 90%;
}

.portrait {
    position: fixed;
    grid-area: portrait;
    margin-top: 5vh;
    margin-left: 62vw;
    }

#portrait {
    border: 1px solid black;
    border-radius: 50%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.footer {
    grid-area: footer;
    position: fixed;
    bottom: 0%;
    background-color: white;
    display: grid;
    grid-template-areas: 
    'footerH footerH footerH'
    'email linkedIN linkedIN';
    margin-left: 1%;
    width: 100%;
}

.footerH {
    grid-area: footerH;
}

.contactLinkedin {
    grid-area: linkedIN;
    border-left: 1px solid black;
    padding-left: 3%;

}

.contactEmail {
    grid-area: email;
    border-left: 1px solid black;
    padding-left: 3%;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    padding: 1%;
}

nav a {
    text-decoration: none;
    padding-right: 3%;
    padding-left: 3%;
    border-bottom: 1px solid black;
    margin: auto;
}

a:is(:link, :active, :visited).active {
    border: 1px solid black;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
}

nav a:hover {
    color: white;
    background-color:black;
}

p, form, ul {
    margin-left: 1%;
    max-width: 60%;
    background-color: rgba(255, 255, 255, 0.9);
    line-height: 1.6;
    list-style-type: square;
}

img {
    padding: 1%;
}


.icon {
    display: none;
}

#SENDbtn {
    display: block;
    background-color: greenyellow;
    border-radius: 20%;
    border: 1px solid black;
    size: inherit;
}

#WEBlong, #EXPlong, #RISKlong,  
#DATINGlong, #COGlong, #PRIVACYlong, 
#LEARNINGlong {
    display: none;
}

#WEBdots, #EXPdots {
    background-color: black;
    color: white;
    font-style: italic;
    text-decoration: underline;
}


.RMbtn {
    background-color: black;
    color: white;
    border: none;
    font-style: italic;
}

@font-face {
    font-family: LMthin;
    src: url(LeagueMono-NarrowThin.otf);
}

@font-face {
    font-family: LM;
    src: url(LeagueMono-NarrowRegular.otf);
}

@font-face {
    font-family: IBMthin;
    src: url(IBMPlexSans-Thin.ttf);
}

@font-face {
    font-family: IBM;
    src: url(IBMPlexSans-Regular.ttf);
}

@media only screen and (max-width: 600px) {
   body {
        background-image: none;
        padding: 1%;
    }

    .GridContainer {
        display: grid;
        grid-template-areas: 
        'portrait'
        'header'
        'block'
        'footer';
        min-height: 100vh;
        width: 100%;
    }

    .header, .block, .footer {
        width: 100%;
    }
   
    .block {
        margin-top: 20%;
    }

    .portrait {
        display: none;
    }
    
    nav {
        padding: 0%;
    }
 
    #navLinks {
        display: none;
    }

    a.icon {
    background: black;
    display: block;
    position: fixed;
    right: 2%;
    top: 2%;
    color: white;
    }
    
    nav a {
        padding: 14px 16px;
        font-size: 17px;
        display: block;
        border: none;
      }
      
    a:is(:link, :active, :visited).active {
        color: black;
        background-color:rgba(183, 183, 183, 0.523);
        border: none;
    }
    
    nav a:hover {
        background-color: rgba(90, 90, 90, 0.5);
        color: black;
        border: none;
    }

    p, form, ul {
        margin-left: 1%;
        max-width: 100%;
        background-color: white;
    }

}


  
