<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS intro for 187</title>
    <link rel="stylesheet" href="../static/FirstStyleSheet.css">
</head>
<body>
    <h1>CSS intro</h1>
    <p>This is the begining...</p>
    <ol class="List1">
        <h1 class="List1">Things i have to do today:</h1>
        <li class="List1">download git</li>
        <li class="List1">signup to github</li>
        <li class="List1" id="important">look up 187 by naamil</li>
    </ol>
    <a href="https://www.google.com/" target="_blank">Search in google</a>
    <a href="http://www.bgu.ac.il"> Search in bgu</a>
</body>
</html>